<html>
<body style='*{margin:0px;padding:0px:border:0px}'>
	<div id='top-left' style='float: left;width: 75%;height:10px'></div>
	<div id='top-right' style='float: left;width: 25%;height:auto;text-align:right;margin-bottom:10px'>
		
		something@domain.com<br>
		9535184844<br>
		314,some apartment, some road, some locality<br>
		someCity

	</div>
	
	<div id='top-bar' style='clear:both;width: 98%;height:auto;text-align:left;background-color:#7E97AD;color:#fff;text-transform: uppercase;padding:10px;margin:auto!important;'><strong>Full Name</strong></div>
	<div>

	<div id='summary-section' style="margin-top: 10px;margin-bottom: 10px;height:auto">
		<div id='summary-title' style='width:20%;color:#7E97AD;font-weight: 700;text-transform: uppercase;text-align: right;float: left;'>Summary</div>
		<div id='summary-desc' style='width:70%;color:#000;font-weight: 400;text-transform: capitalize;text-align: left;float: left;padding-left: 10px'>BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH</div>
	</div>

	<div style='clear:both'></div>

	<hr>

	<div id='skill-section' style="margin-top: 10px;margin-bottom: 10px;height:auto">
		<div id='skill-title' style='width:20%;color:#7E97AD;font-weight: 700;text-transform: uppercase;text-align: right;float: left;'>Skills</div>
		<div id='skill-desc' style='width:70%;color:#000;font-weight: 400;text-transform: capitalize;text-align: left;float: left;padding-left: 10px'> 
			<span style='width: 16%;display: inline-block; text-align: center;'>Java</span>
				<span style='font-weight: 700 !important ;color:#7E97AD !important'>|</span> 
			<span style='width: 16%;display: inline-block; text-align: center;'>python</span> 
				<span style='font-weight: 700 !important;color:#7E97AD !important'>|</span> 
			<span style='width: 16%;display: inline-block; text-align: center;'>c</span> 
				<span style='font-weight: 700 !important;color:#7E97AD !important'>|</span> 
			<span style='width: 16%;display: inline-block; text-align: center;'>jsp</span> 
				<span style='font-weight: 700 !important;color:#7E97AD !important'>|</span> 
			<span style='width: 16%;display: inline-block; text-align: center;'>Java</span> 
				<span style='font-weight: 700 !important;color:#7E97AD !important'>|</span> 
			<span style='width: 16%;display: inline-block; text-align: center;'>Java</span> 
		</div>
	</div>

	<div style='clear:both'></div>

	<hr>

	<div id='accolades-section' style="margin-top: 10px;margin-bottom: 10px;height:auto">
		<div id='accolades-title' style='width:20%;color:#7E97AD;font-weight: 700;text-transform: uppercase;text-align: right;float: left;'>Accolades</div>
		<div id='accolades-desc' style='width:70%;color:#000;font-weight: 400;text-transform: capitalize;text-align: left;float: left;padding-left: 10px'> 
			<span style='font-weight: 700 !important ;color:#7E97AD !important'>Award Title</span> <br>
				<span style=''>BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH</span>
			<br>
			<span style='font-weight: 700 !important ;color:#7E97AD !important'>Award Title</span> <br>
				<span style=''>BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH</span>
		</div>
	</div>

	<div style='clear:both'></div>

	<hr>

	<div id='projects-section' style="margin-top: 10px;margin-bottom: 10px;height:auto">
		<div id='projects-title' style='width:20%;color:#7E97AD;font-weight: 700;text-transform: uppercase;text-align: right;float: left;'>Projects</div>
		<div id='accolades-desc' style='width:70%;color:#000;font-weight: 400;text-transform: capitalize;text-align: left;float: left;padding-left: 10px'> 
			<span style='font-weight: 700 !important ;color:#7E97AD !important'>Project Name</span> <br>
				<span style=''>BLAH BLAH BLAH BLAH BLAH BLAH BLAH </span> <br>
				<span style=''>January 2016 - February 2016 </span>
			<br>
			<span style='font-weight: 700 !important ;color:#7E97AD !important'>Project Name</span> <br>
				<span style=''>BLAH BLAH BLAH BLAH BLAH BLAH BLAH </span> <br>
				<span style=''>January 2016 - February 2016 </span>
		</div>

	</div>

	<div style='clear:both'></div>

	<hr>

	<div id='education-section' style="margin-top: 10px;margin-bottom: 10px;height:auto">
		<div id='education-title' style='width:20%;color:#7E97AD;font-weight: 700;text-transform: uppercase;text-align: right;float: left;'>Education</div>
		<div id='education-desc' style='width:70%;color:#000;font-weight: 400;text-transform: capitalize;text-align: left;float: left;padding-left: 10px'> 
			<span style='font-weight: 700 !important ;color:#7E97AD !important'>School Name [University]</span> <br>
				<span style='width: 25%;display: inline-block; text-align: left;'>Percentage - 92%</span> <span style='font-weight: 700 !important;color:#7E97AD !important'>|</span> <span style='display: inline-block; text-align: left;'>January 2016 </span><br>
				
			<br>
			<span style='font-weight: 700 !important ;color:#7E97AD !important'>High School Name [University]</span> <br>
				<span style='width: 25%;display: inline-block; text-align: left;'>Percentage - 92%</span> <span style='font-weight: 700 !important;color:#7E97AD !important'>|</span> <span style='display: inline-block; text-align: left;'>January 2016 </span><br>
				
			<br>
			<span style='font-weight: 700 !important ;color:#7E97AD !important'>College Name [University]</span> <br>
				<span style='width: 25%;display: inline-block; text-align: left;'>Percentage - 92%</span> <span style='font-weight: 700 !important;color:#7E97AD !important'>|</span> <span style='display: inline-block; text-align: left;'>January 2016 </span><br>
				
			<br>
		</div>
	</div>

	<div style='clear:both'></div>

	<hr>

	<div id='job-section' style="margin-top: 10px;margin-bottom: 10px;height:auto">
		<div id='job-title' style='width:20%;color:#7E97AD;font-weight: 700;text-transform: uppercase;text-align: right;float: left;'>Experience</div>
		<div id='job-desc' style='width:70%;color:#000;font-weight: 400;text-transform: capitalize;text-align: left;float: left;padding-left: 10px'> 
			<span style='font-weight: 700 !important ;color:#7E97AD !important'>School Name [University]</span> <br>
				<span style='width: 25%;display: inline-block; text-align: left;'>Percentage - 92%</span> <span style='font-weight: 700 !important;color:#7E97AD !important'>|</span> <span style='display: inline-block; text-align: left;'>January 2016 </span><br>
				
			<br>
			<span style='font-weight: 700 !important ;color:#7E97AD !important'>High School Name [University]</span> <br>
				<span style='width: 25%;display: inline-block; text-align: left;'>Percentage - 92%</span> <span style='font-weight: 700 !important;color:#7E97AD !important'>|</span> <span style='display: inline-block; text-align: left;'>January 2016 </span><br>
				
			<br>
			<span style='font-weight: 700 !important ;color:#7E97AD !important'>College Name [University]</span> <br>
				<span style='width: 25%;display: inline-block; text-align: left;'>Percentage - 92%</span> <span style='font-weight: 700 !important;color:#7E97AD !important'>|</span> <span style='display: inline-block; text-align: left;'>January 2016 </span><br>
				
			<br>
		</div>
	</div>

	<div style='clear:both'></div>

	<hr>







</body>
</html>